<a href="javascript:void(0);" class="action--wishlist tile-actions--btn flex wishlist-btn myBtn whislist_click" data-product-handle="{{ product.handle }}">
  <img class="btn--main btn--main-blank" src="{{ 'heart.png' | asset_url }}" alt="add to wishlist">
 <img class="btn--main btn_main_checked" src="{{ 'favorite-heart-button.png' | asset_url }}" alt="add to wishlist" style="display: none;">
</a>